mysql-connector-python==8.4.0
PyMySQL==1.1.0
paramiko==4.0.0
PySocks==1.7.1
requests==2.31.0
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
urllib3==2.1.0
cryptography==41.0.5
python-dotenv==1.0.1
librouteros>=3.2.1
fastapi>=0.111.0
uvicorn>=0.29.0
python-jose[cryptography]>=3.3.0
pip install "uvicorn[standard]"